body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input {
  font-family: 'Raleway', sans-serif;
}


:root {
  --border-color: #ffffff80;
  --card-bkg-color:#00000080;
  --btn-bkg-danger: #f44049;
  --btn-bkg-danger-hover: #a2a4f8;
}
